
<section class="contact-section spad">
    <div class="container">
         <div class="row border shadow p-4">
            <div class="col-lg-12 text-center">
                <div class="contact-text">
                  <h2>Check Form</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <form class="contact-form login-form" formGroup="bookingForm" (ngSubmit)="SubmitForm()">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="date-in">Check In:</label>
                            <input type="date" class="date-input" id="date-in" formControlName="checkIn">
                            <div *ngIf="bookingForm.get('checkIn')?.invalid && bookingForm.get('checkIn')?.touched"
                                class="text-danger">
                                Please enter a valid check-in date.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="date-in">Check Out:</label>
                            <input type="date" class="date-input" id="date-out" formControlName="checkOut">
                            <div *ngIf="bookingForm.get('checkOut')?.invalid && bookingForm.get('checkOut')?.touched"
                                class="text-danger">
                                Please enter a valid check-in date.
                            </div>
                        </div>
                        <div class="row">
                            <div class="select-option col-md-6">
                                <label for="guests">Guests:</label>
                                <select id="guest" formControlName="guests" class="custom-select">
                                    <option value="1">2 Adults</option>
                                    <option value="2">3 Adults</option>
                                </select>
                                <div *ngIf="bookingForm.get('guests')?.invalid && bookingForm.get('guests')?.touched"
                                    class="text-danger">
                                    Please select the number of guests.
                                </div>
                            </div>
                            <div class="select-option col-md-6">
                                <label for="room">Room:</label>
                                <select id="room" formControlName="rooms" class="custom-select">
                                    <option value="1">1 Room</option>
                                    <option value="2">2 Rooms</option>
                                </select>
                                <div *ngIf="bookingForm.get('rooms')?.invalid && bookingForm.get('rooms')?.touched"
                                    class="text-danger">
                                    Please select the number of rooms.
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12">
                            <button type="submit" class="w-100 mb-3" [disabled]="!bookingForm.valid">
                                Ckeck Availability
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>