<div class="container room-details-item d-flex justify-content-center align-items-center gap-5">
  <img src="../../../../assets/img/about/about-1.jpg" class="img-fluid col-md-4">
  <div class="rd-text">
    <div class="rd-title">
      <div class="rdt-right">
        <div class="rating">
          <i class="icon_star"></i>
          <i class="icon_star"></i>
          <i class="icon_star"></i>
          <i class="icon_star"></i>
          <i class="icon_star-half_alt"></i>
        </div>
        <a routerLink="/payment">Booking Now</a>
      </div>
    </div>
    <h2>{{resource.price}}<span>/Pernight</span></h2>
    <table>
      <tbody>
        <tr *ngFor="let attr of resource.attributes">
          <td class="r-o">{{attr.name}}</td>
          <td>{{attr.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
