<div class="d-flex" style="width: 100vw;">
  <div class="schedule-check fw-light">
    <div>
        <label class="">Check In</label>
        <input class="form-control shadow-none" placeholder="Please select check in date" type="date"[(ngModel)]="fromDate">
    </div>
    <div>
        <label class="">Check Out</label>
        <input class="form-control shadow-none" placeholder="Please select check out date" type="date"[(ngModel)]="toDate">
    </div>
    <button [disabled]="!fromDate ||!toDate" type="button" (click)="openModal()" class="btn btn-primary">Check Availability</button>
  </div>
</div>