.schedule-check{
  min-width: 20vw;
display: flex !important;
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
flex-direction: column !important;
padding: 1rem !important;
border-radius: var(--bs-border-radius-sm) !important;
}
