
<!-- About Us Page Section Begin -->
<section class="aboutus-page-section spad">
    <div class="container">
        <div class="about-page-text">
            <div class="row">
                <div class="col-lg-4 col-sm-6" *ngFor="let service of services">
                    <div class="service-item">
                        <i class="flaticon-036-parking"></i>
                        <h4>{{service?.name}}</h4>
                        <p>{{service?.description}}</p>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</section>
<!-- About Us Page Section End -->
