<div class="d-flex gap-5 align-items-center">

  <div class="d-flex flex-column gap-3 align-items-center col-6">
    <img class="rounded-2" src="../../../../assets/img/services/5db14163210000ae2534ae1c.jpeg">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
            <p class="card__text">{{service.description}} </p>
        </div>
      </div>
      <button class="mt-2 col-12 shadow-none btn btn-primary">Book</button>
    </div>
  </div>

  <ngx-slick-carousel class="carousel col-6" #slickModal="slick-carousel"
    [config]="slideConfig">
    <img ngxSlickItem
      src="../../../../assets/img/gallery/gallery-1.jpg" style="height: 17rem;"/>
    <img ngxSlickItem
      src="../../../../assets/img/gallery/gallery-2.jpg" style="height: 17rem;"/>
    <img ngxSlickItem
      src="../../../../assets/img/gallery/gallery-3.jpg" style="height: 17rem;"/>
    <img ngxSlickItem
      src="../../../../assets/img/gallery/gallery-4.jpg" style="height: 17rem;"/>
  </ngx-slick-carousel>

</div>
