<div class="breadcrumb-section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Login</h2>
          <div class="bt-option">
            <a href="./home.html">Home</a>
            <span>Login</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="contact-section spad">
  <div class="container">
    <div class="row border shadow p-4">
      <div class="col-lg-12 text-center">
        <div class="contact-text">
          <h2>Login Form</h2>
          <p>Start your journey</p>
        </div>
      </div>
      <div class="col-lg-12">
        <form
          class="contact-form"
          [formGroup]="loginFormGroup"
          (ngSubmit)="onSubmit()"
        >
          <div class="row">
            <div class="col-lg-12">
              <input
                id="email"
                name="email"
                type="text"
                placeholder="Enter your email"
                formControlName="email"
              />
            </div>
            <div
              class="col-md-12"
              *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Email')"
            >
              <div
                *ngFor="
                  let missingFieldErrorItem of missingFeildsErrosObject['Email']
                "
                class="alert alert-danger"
              >
                <div>
                  {{ missingFieldErrorItem }}
                </div>
              </div>
            </div>
            <div class="col-md-12" *ngIf="this.emailFEValidation|| false">
              <div class="alert alert-danger" *ngIf="this.emailFEValidation" >
                <div >
                  <div
                    *ngIf="
                      loginFormGroup.controls['email'].hasError('required')
                    "
                  >
                    email is required
                  </div>
                  <div
                    *ngIf="loginFormGroup.controls['email'].hasError('pattern')"
                  >
                    email must be in the folowing format example@example.com
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-6">
              <input
                type="text"
                placeholder="Enter SSN"
                formControlName="ssn"
              />
            </div> -->
            <!-- userName error -->
            <!-- <div class="col-md-6">
              <div
                *ngIf="
                  loginFormGroup.controls['userName'].invalid &&
                  (loginFormGroup.controls['userName'].dirty ||
                    loginFormGroup.controls['userName'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="loginFormGroup.controls['userName'].errors">
                  <div
                    *ngIf="
                      loginFormGroup.controls['userName'].hasError('required')
                    "
                  >
                    username is required
                  </div>
                  <div
                    *ngIf="
                      loginFormGroup.controls['userName'].hasError('minlength')
                    "
                  >
                    username minlength is 3 charachter
                  </div>
                  <div
                    *ngIf="
                      loginFormGroup.controls['userName'].hasError('maxlength')
                    "
                  >
                    username maxlength is 12 charachter
                  </div>
                </div>
              </div>
            </div> -->
            <!-- ssn error -->
            <!-- <div class="col-md-6">
              <div
                *ngIf="
                  loginFormGroup.controls['ssn'].invalid &&
                  (loginFormGroup.controls['ssn'].dirty ||
                    loginFormGroup.controls['ssn'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="loginFormGroup.controls['ssn'].errors">
                  <div
                    *ngIf="loginFormGroup.controls['ssn'].hasError('required')"
                  >
                    SSN is required
                  </div>
                  <div
                    *ngIf="loginFormGroup.controls['ssn'].hasError('pattern')"
                  >
                    Please enter only numbers
                  </div>
                  <div
                    *ngIf="loginFormGroup.controls['ssn'].hasError('maxlength')"
                  >
                    SSN must be 14 digits long
                  </div>
                  <div
                  *ngIf="loginFormGroup.controls['ssn'].hasError('minlength')"
                >
                  SSN must be 14 digits long
                </div>
                </div>
              </div>
            </div> -->

            <div class="col-lg-12">
              <input
                type="password"
                placeholder="Enter your Password"
                formControlName="password"
              />
            </div>
            <div
              class="col-md-12"
              *ngIf="this.missingFeildsErrosObject?.hasOwnProperty('Password')"
            >
              <div
                *ngFor="
                  let missingFieldErrorItem of missingFeildsErrosObject[
                    'Password'
                  ]
                "
                class="alert alert-danger"
              >
                <div>
                  {{ missingFieldErrorItem }}
                </div>
              </div>
            </div>

            <div class="col-md-12" *ngIf="this.passwordFEValidation">
              <div class="alert alert-danger"
                
              >
                <div *ngIf="this.passwordFEValidation">
                  <div
                    *ngIf="
                      loginFormGroup.controls['password'].hasError('required')
                    "
                  >
                    password is required
                  </div>
                  <!-- <div
                    *ngIf="
                      loginFormGroup.controls['password'].hasError('pattern')
                    "
                  >
                    password must be in the folowing format
                    <ul class="ps-4">
                      <li>At least one upper case English letter</li>
                      <li>At least one lower case English letter</li>
                      <li>At least one digit</li>
                      <li>At least one special character</li>
                    </ul>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-12">
              <div
                *ngIf="
                  loginFormGroup.controls['password'].invalid &&
                  (loginFormGroup.controls['password'].dirty ||
                    loginFormGroup.controls['password'].touched)
                "
                class="alert alert-danger"
              >
                <div *ngIf="loginFormGroup.controls['password'].errors">
                  Please enter password
                </div>
              </div>
            </div> -->

            <div class="col-lg-12">
              <button type="submit" class="w-100 mb-3">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
